{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set welcome_easyadmin = 'Hello EasyAdmin!' %}

{% block page_title %}
    {{ welcome_easyadmin }}
{% endblock %}

{% block content_header %}
    <h1>{{ welcome_easyadmin }}</h1>
{% endblock %}

{% block main %}
    <div class="container p-3">
        Something...
    </div>
{% endblock %}
